<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ürünler</title>
</head>
<body>
    <h1>Ürünlerim</h1>

    <a href="/products/new">Yeni Ürün Ekle</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Ürün Adı</th>
                <th>Açıklama</th>
                <th>Fiyat</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td>
                    <a th:href="@{'/products/edit/' + ${product.id}}">Düzenle</a>
                    <a th:href="@{'/products/delete/' + ${product.id}}">Sil</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
